@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dela Gothic One";
  src: url("../src/fonts/DelaGothicOne-Regular.ttf");
  font-weight: 400;
}

:root {
  --main-primary: #ec642b;
  --primary: #ed772f;
  --sub-primary: #ef9335;
  --black: #1e1e1e;
  --grey: #afac95;
  --white: #e3e7d9;
}

/* if it is necessary */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  user-select: none;
}

.material-symbols-outlined.shield-person {
  font-size: 42px;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 56;
}

@media (min-width: 768px){
  .material-symbols-outlined.shield-person {
    font-size: 54px;
  }
}

.material-symbols-outlined.menu {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 56;
}

.material-symbols-outlined.check {
  font-size: 22px;
}

.material-symbols-outlined.delete {
  font-size: 16px;
  font-weight: 200;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 56;
}

/* customize the scrollbar Width & Height */
::-webkit-scrollbar {
  /* vertical scrollbar */
  width: 1px;

  /* horizontal scrollbar */
  height: 1px;
}

/* customize the scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* customize the scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-primary);
}
